.App {
  text-align: center;
  background-color: #47878e;

}

.app_name{
  font-family: 'Gloria Hallelujah', cursive;
  color: beige;
  background-color: #47878e;
  /* background-color: beige; */
  margin: 0;
  padding: 0;
}